ion-back-button {
    display: block !important;
}

.title-txt {
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--ion-text-color);
}

ion-content {
    --padding-start: 30px;
    --padding-end: 30px;
    --padding-top: 20px;
}

.buttons-wrapper {
    text-align: center;
    margin-top: 43px;

    ion-button {
        text-transform: none;
        width: 279px;
        //height: 106px;
        border-radius: 4px;
        border: solid 2px var(--ion-custom-color-46);
        margin: 0 auto 15px;
        white-space: normal;
        clear: both;
        display: block;

        b {
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: var(--ion-text-color);
            clear: both;
            //position: absolute;
            //top: 17px;
        }

        p {
            opacity: 0.9;
            -webkit-text-stroke: 0 var(--ion-custom-color-13);
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: var(--ion-custom-color-6);
            margin-top: 39px;
        }
    }

    ion-button.selected {
        border: 2px solid var(--ion-custom-color-13);
    }
}

[dir="rtl"] .buttons-wrapper ion-button b {
    top: 7px;
}

@media screen and (max-width: 450px), (orientation: landscape) {
    .buttons-wrapper ion-button.md p {
        font-size: 12px;
    }
}
