<ion-card>
  <ion-badge>
    {{ activity.note_type }}
  </ion-badge>

  <div class="activity">
    
    <b *ngIf="activity.updatedBy">
      <ng-container *ngIf="activity.updatedBy.staff_name">{{ "by_name" | translate : { value: activity.createdBy.staff_name }  }}:&nbsp;</ng-container>
      <ng-container *ngIf="activity.updatedBy.candidate_name">{{ "by_name" | translate : { value: activity.createdBy.candidate_name}  }}:&nbsp;</ng-container>
      <ng-container *ngIf="activity.updatedBy.contact_name">{{ "by_name" | translate : { value: activity.createdBy.contact_name}  }}:&nbsp;</ng-container>
      <ng-container *ngIf="activity.updatedBy.admin_name">{{ "by_name" | translate : { value: activity.createdBy.admin_name}  }}:&nbsp;</ng-container>
    </b>

    <b *ngIf="!activity.updatedBy && activity.createdBy">
      <ng-container *ngIf="activity.createdBy.staff_name">{{ "by_name" | translate : { value: activity.createdBy.staff_name}  }}:&nbsp;</ng-container>
      <ng-container *ngIf="activity.createdBy.candidate_name">{{ "by_name" | translate : { value: activity.createdBy.candidate_name}  }}:&nbsp;</ng-container>
      <ng-container *ngIf="activity.createdBy.contact_name">{{ "by_name" | translate : { value: activity.createdBy.contact_name}  }}:&nbsp;</ng-container>
      <ng-container *ngIf="activity.createdBy.admin_name">{{ "by_name" | translate : { value: activity.createdBy.admin_name}  }}:&nbsp;</ng-container>
    </b>
    
    <!--  [routerLink]="'/candidate-view/' + activity.candidate_id" -->
    <h5 *ngIf="activity.candidate">
      {{ activity.candidate.candidate_name }}
    </h5>

    <!--  [routerLink]="'/candidate-view/' + activity.candidate_id" -->
    <h5 *ngIf="activity.fulltimer">
      {{ activity.fulltimer.fulltimer_name }}
    </h5>

    <p [innerHTML]="activity.note_text"></p>
  </div>

  <p class="txt-time">
    {{ activity.note_updated_datetime | timeAgo }} {{"on" | translate}}
    {{ toDate(activity.note_created_datetime) | date: 'MMM d, y' }}
  </p>
</ion-card>

