small{display: block;}

.zeroHours{
  background: var(--ion-custom-color-41);
  --background: var(--ion-custom-color-41);
  color: var(--ion-color-primary-contrast);

  b{
    color: var(--ion-color-primary-contrast);
  }
}
ion-back-button {
  display: block;
}
