<ion-header [class.add-border]="borderLimit" [attr.dir]="translateService.direction()" class="clear-header">
  <ion-toolbar>

    <ion-buttons slot="start" *ngIf="!platform.is('desktop')">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content [attr.dir]="translateService.direction()" scrollEvents="true" (ionScroll)="logScrolling($event)" class="contentArea">

  <div class="desktop-view">

    <div class='brand'>
      <ion-img src="assets/images/logo.svg"></ion-img>
      <!-- <h3>{{ "Employer Portal" | translate }}</h3> -->
    </div>
    
    <div class="message">
    <h1>{{"Type your new password" | translate}}</h1>
      </div>

    <ion-card class='loginCard'>
      <ion-card-content class='authArea'>
        <form [formGroup]="passwordForm" (ngSubmit)="save()" novalidate>

          <ion-item lines="none" class="field-password">
            <ion-label position="floating">{{'New password' | translate}}</ion-label>
            <ion-input type="{{ type }}" enterkeyhint='Submit' #inptPassword
            formControlName="newPassword" placeholder=""></ion-input>

            <ion-button class="btn-password" fill="clear" (click)="showPassword()">
              <ion-icon *ngIf="type == 'password'" name="eye"></ion-icon>
              <ion-icon *ngIf="type != 'password'" name="eye-off"></ion-icon>
            </ion-button>
          </ion-item>
            
          <ion-button class="btn-signup" [disabled]="!passwordForm.valid || isLoading" type="submit">
            <ion-spinner *ngIf="isLoading"></ion-spinner>
            <span *ngIf="!isLoading">{{"Submit" | translate}}</span>
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
