<ion-header [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)" class="contentArea">

  <div class="max-width">

    <h3>Type your new password</h3>

    <ion-card class='loginCard'>
      <ion-card-content class='authArea'>
        <form [formGroup]="passwordForm" (ngSubmit)="save()" class="classicInput" novalidate>

          <div class="password_field">
            <ion-input type="{{ type }}" enterkeyhint='Submit' #inptPassword
              formControlName="newPassword" placeholder="New password"></ion-input>

            <ion-button  fill="clear" class="password_change_icon" (click)="showPassword()">
              <ion-icon *ngIf="type == 'password'" name="eye"></ion-icon>
              <ion-icon *ngIf="type != 'password'" name="eye-off"></ion-icon>
            </ion-button>

          </div>

          <ion-button class="btn-signup" [disabled]="!passwordForm.valid || isLoading" type="submit">
            <ion-spinner *ngIf="isLoading"></ion-spinner>
            <span *ngIf="!isLoading">Submit</span>
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
