  <ion-split-pane content-id="main-content" contentId="main-content">
    <ion-menu side="start" contentId="main-content" #menuLTR menuId="menuLTR" type="overlay">

      <app-menu class="main-left-menu"></app-menu>

    </ion-menu>

    <ion-tabs #tabRef id="main-content" [class.plt-mobile]="platform.is('mobile')">

      <ion-header>
        <company-header></company-header>
      </ion-header>

      <ion-tab-bar class="tabs desktop" #mainTabs slot="top" *ngIf="!platform.is('mobile')">
        <ion-tab-button class="tab-button" layout="icon-start" tab="requests">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <ion-label>Hire</ion-label>
        </ion-tab-button>

        <ion-tab-button class="tab-button" layout="icon-start" tab="staff">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Assigned Staff</ion-label>
          <!--        <ion-badge *ngIf="conversationAlert > 0">{{ conversationAlert }}</ion-badge>-->
        </ion-tab-button>
        <ion-tab-button class="tab-button" layout="icon-start" tab="transfer">
          <ion-icon name="repeat-outline"></ion-icon>
          <ion-label>Transfers</ion-label>
          <!--        <ion-badge *ngIf="applicationCount > 0">{{ applicationCount }}</ion-badge>-->
        </ion-tab-button>
      </ion-tab-bar>

      <ion-tab-bar class="tabs mobile-view" #mainTabs slot="bottom" *ngIf="platform.is('mobile')">
        <ion-tab-button class="tab-button" layout="icon-top" tab="requests">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <ion-label>Hire</ion-label>
        </ion-tab-button>

        <ion-tab-button class="tab-button" layout="icon-top" tab="staff">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Assigned Staff</ion-label>
          <!--        <ion-badge *ngIf="conversationAlert > 0">{{ conversationAlert }}</ion-badge>-->
        </ion-tab-button>
        <ion-tab-button class="tab-button" layout="icon-top" tab="transfer">
          <ion-icon name="repeat-outline"></ion-icon>
          <ion-label>Transfers</ion-label>
          <!--        <ion-badge *ngIf="applicationCount > 0">{{ applicationCount }}</ion-badge>-->
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-split-pane>
