.error-message p {
    margin: 0px;
    padding-top: 10px;
    color:#ff0000 !important;
    text-align: right;
}

[dir="rtl"] .error-message p {
    text-align: left;
}

.toolbar-background {
    background: none!important;
}

.message {
  color:#fff;
    margin-top: 44px;

    h1 {
        text-align: center;
        margin-top: 20px !important;
    }

    p {
        opacity: 0.5;
        text-align: center;
        font-size: 15px;
        margin: 30px;
    }
}

ion-input {
    border-bottom: 1px solid #aaaaaa;
    margin-bottom: 15px;
}

.loginCard{
    max-width:350px;
    margin-left: auto;
    margin-right: auto;
}

.submit-btn ion-button {
  background-color: #fff !important;
  border: 1px solid gray;
  background: #fff;
  color: #000;
  --background: #fff;
  --box-shadow: none;
  --background-color: #fff !important;
}

ion-input {
    //margin-top: 57px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #aaaaaa !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #aaaaaa !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #aaaaaa !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #aaaaaa !important;
}

ion-back-button {
    display: block;
}
.contentArea, ion-toolbar{
  background: #4354a5;
  --background: #4354a5;
  color:#fff;
  ---color:#fff;
}

ion-header ion-toolbar:after{
  background: none;
  --background: none;
}
