<ion-header [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)" class='contentArea'>

  <div class="desktop-view">

    <section class="message">
      <h1>{{"Forgot your password?" | translate}}</h1>
      <p>
        {{"Enter your email to receive a password reset link. You may need to check your spam folder or unblock contact@studenthub.co" | translate}}
      </p>
    </section>

    <ion-card class='loginCard'>
      <ion-card-content class='authArea'>

        <div class='loginCard'>
          <div class='authArea'>
            <form [formGroup]="resetForm" novalidate (ngSubmit)="sendPassword()">

              <ion-input formControlName="email" inputmode="email" enterkeyhint="Submit"
                placeholder="{{'Your Email Address' | translate}}" type="text"></ion-input>
              <div class="ion-text-center submit-btn">
                <ion-button expand="block" type="submit" [disabled]="isLoading || !resetForm.valid">
                  <ion-spinner *ngIf="isLoading"></ion-spinner>
                  <span *ngIf="!isLoading">{{"Request Password Reset" | translate}}</span>
                </ion-button>
              </div>
            </form>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
