
ion-title {
    padding-inline-start: 2px;
}
  
ion-content {
    --padding-top: 25px;
}
@media (max-width: 900px) {
    
    ion-footer .max-width {
        padding-inline-start: 16px;    
    }
}

.main-card {
margin: 0;
padding: 16px;
border-radius: 8px;
--background: var(--Neutral-0, #FFF);
--box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);

ion-badge {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    border-radius: 6px;
    float: var(--end);
}

ion-badge.warning {
    color: var(--Orange-Tint-8, #CA7F3E);
    background: var(--Orange-Tint-1, #FFF7F0);
}

ion-badge.success {
    background: var(--Green-Tint-1, #EDFCF3);
    color: var(--Green-Tint-Main, #29B564);
}

.txt-label {
    color: var(--Neutral-70, #7D7D8D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.time-wrapper {
    border-top: 1px solid var(--Neutral-30, #EEEEF0);
    margin-top: 16px;
    padding-top: 16px;
}

.txt-time {
    color: var(--Neutral-95, #23233D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
    margin-top: 8px;
    margin-bottom: 8px;
}

.time-left, .time-right {
    b {
    color: var(--Neutral-95, #23233D);
    font-weight: 600;
    margin-inline-end: 4px;
    }
    
    b, span {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    line-height: 20px; /* 142.857% */
    }

    span {
    color: var(--Neutral-90, #4B4B61);
    font-weight: 400;
    }
}

.time-left {
    float: var(--start);
}

.time-right {
    float: var(--end);
}
}

.session-wrapper {
margin-top: 24px;

.txt-session-heading {
    color: var(--Neutral-95, #23233D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    border-top: 1px solid var(--Neutral-40, #E2E2E6);
    padding-top: 24px;
    text-align: var(--start);

    span {
        color: var(--Neutral-70, #7D7D8D);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }
}

p {
    height: 56px;
    width: 100%;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    background: var(--Neutral-0, #FFF);
    box-shadow: 0px 0px 2px 0px rgba(35, 35, 38, 0.06), 0px 2px 4px 0px rgba(35, 35, 38, 0.06);

    b { 
        color: var(--Neutral-95, #23233D);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        float: var(--start);
    }

    span {
        color: var(--Neutral-90, #4B4B61);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        float: var(--end);

        ion-icon {
            margin: 0 8px;
            position: relative;
            top: 3px;
        }
    }
}
}

.btn-wrapper {
   // display: flex;

    ion-button {
    //    display: flex;
       // text-transform: capitalize;
        --box-shadow: none;
        --border-radius: 8px;
        height: 56px;
        color: var(--Neutral-0, #FFF);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        float: var(--start);
        margin-inline-end: 16px !important;
     
    }

    .btn-reject {
        width: 115px;
    //    align-items: flex-start;
        gap: 16px;
        margin-inline-end: 16px;
        --border: 1px solid var(--Red-Tint-Main, #EB5757);
        --background: #FFF;
    }

    .btn-approve {
    //  min-width: 200px;//calc(100% - 342px - 15px);//
      //  align-items: flex-start;
        gap: 16px;
    }
}

.message-wrapper {
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
    color: var(--Neutral-90, #4B4B61);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    //margin-top: -24px;
    position: fixed;
    top: 121px;
    display: block;
    z-index: 999;
    width: 100%;
    left: 0px;
    
    p {
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
        display: block;
    }
}

.message-wrapper.success {
    border-bottom: 1px solid var(--Green-Tint-6, #4EC27E);
    background: var(--Green-Tint-1, #EDFCF3);
}

.message-wrapper.warning {
    border-bottom: 1px solid var(--Red-Tint-6, #EE7373);
    background: var(--Red-Tint-1, #FFF2F2);
}
