<ion-header [translucent]="true" [collapse]="true">
  <ion-toolbar class="max-width">
    <ion-buttons slot="start">
      <ion-back-button icon="assets/images/icon-back.svg" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="max-width" *ngIf="candidateWorkingHourData">
    <ion-title>{{ date | date : 'mediumDate': undefined: translateService.currentLang}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateService.direction()">
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header class="max-width" *ngIf="candidateWorkingHourData" collapse="condense">
    <ion-toolbar>
      <ion-title>{{ date | date : 'mediumDate': undefined: translateService.currentLang}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="message-wrapper warning" *ngIf="warningMsg">
    <p class="message">{{ warningMsg }}</p>
  </div>
  
  <div class="message-wrapper success" *ngIf="successMsg">
    <p class="message">{{ successMsg }}</p>
  </div>

  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>

  <div class="max-width">
    
    <ion-card class="main-card" *ngIf="stats"> 
      
      <span class="txt-label">{{ "Total Time" | translate}}</span>
    
      <ul *ngIf="stats.health" class="health-indicator">
        <li *ngIf="stats.health[0] > 0" class="pending">
          {{ stats.health[0] }}
        </li>
        <li *ngIf="stats.health[1] > 0" class="approved">
          {{ stats.health[1] }}
        </li>
        <li *ngIf="stats.health[2] > 0" class="rejected">
          {{ stats.health[2] }}
        </li>
      </ul>
      
      <!--
      <ion-badge class="warning" *ngIf="stats.status == 0">
        {{ "Pending" | translate }}
      </ion-badge>
      <ion-badge class="success" *ngIf="stats.status == 1">
        {{ "Approved" | translate }}
      </ion-badge>
      <ion-badge class="warning" *ngIf="stats.status == 2">
        {{ "Rejected" | translate }}
      </ion-badge>-->

      <div class="clearfix"></div>
      <h4 class="txt-time" *ngIf="stats && stats.totalTime">{{ stats.totalTime | secondsToTime }}</h4>  
      <h4 class="txt-time" *ngIf="!stats || !stats.totalTime">00:00</h4>

      <div class="time-wrapper">
        <div class="time-left">
          <b>{{ "Start Time:" | translate}}</b> 

          <span *ngIf="stats && stats.checkIn">{{ 
            translateService.toDate(stats.checkIn) | date: "shortTime": undefined: translateService.currentLang }}</span>  
          <span *ngIf="!stats || !stats.checkIn">00:00</span>
        </div>  

        <div class="time-right">
          <b>{{"End Time:" | translate}}</b> 

          <span *ngIf="stats && stats.checkOut">{{ translateService.toDate(stats.checkOut) | date: "shortTime": undefined: translateService.currentLang }}</span>  
          <span *ngIf="!stats || !stats.checkOut">00:00</span>
        </div>

        <div class="clearfix"></div>
      </div>

      <ul *ngIf="stats.health" class="health-bar">
        <li *ngIf="stats.health[0] > 0" class="pending">
          {{ stats.health[0] }} {{ "Pending" | translate }}
        </li>
        <li *ngIf="stats.health[1] > 0" class="approved">
          {{ stats.health[1] }} {{ "Approved" | translate }}
        </li>
        <li *ngIf="stats.health[2] > 0" class="rejected">
          {{ stats.health[2] }} {{ "Rejected" | translate }}
        </li>
      </ul>

    </ion-card>

    <div class="session-wrapper" *ngIf="totalCount > 0">

      <h5 class="txt-session-heading">{{ "Sessions" | translate }} <span>({{ totalCount }})</span></h5>

      <!--
      <p *ngFor="let hour of candidateWorkingHourData">
        <b *ngIf="hour.total_time">{{ hour.total_time | secondsToTime }}</b>  
        <b *ngIf="!hour.total_time">{{ "On-going" | translate }}</b>
        <span>
          {{ translateService.toDate(hour.start_time) | date: "shortTime": undefined: translateService.currentLang}} 
          <ion-icon name="arrow-forward-outline"></ion-icon> 
          <ng-container *ngIf="hour.end_time">
            {{ translateService.toDate(hour.end_time) | date: "shortTime": undefined: translateService.currentLang}}
          </ng-container>
          <ng-container *ngIf="!hour.end_time">
            {{ "Now" | translate }}
          </ng-container>
        </span>
      </p>-->

      <app-work-log (onApproveClicked)="approveSession(hour)" (onRejectClicked)="rejectSession(hour)" 
        [hour]="hour" *ngFor="let hour of candidateWorkingHourData">
      </app-work-log>

      <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  
    </div>

    
    
  </div>
</ion-content> 
<!-- if pending count > 0 -->
 
<ion-footer *ngIf="stats && stats.health[0] > 0">
  <div class="max-width">
    <div class="btn-wrapper" >
      <ion-button class="btn-reject" (click)="reject()"  fill="outline" color="danger">
        {{ "Reject all" | translate }}
      </ion-button>
    
      <ion-button class="btn-approve" (click)="approve()">
        {{ "Approve all" | translate }}
      </ion-button>

      <div class="clearfix"></div>
    </div>
  </div>
</ion-footer>