.btn-add-request {
  width: 171px;
  height: 42px;
  border-radius: 4px;
  background-color: #4c5df2;
  --background: #4c5df2;
}

ion-segment-button {
  //--background-checked : #4c5df2;
  --ion-color-base : #4c5df2;

  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #292f38;
  text-transform: inherit;
  --border-width:5px;
}
.btn-div {
  width: 100%;
  text-align: right;
  margin: 8px 0 22px;
}
.segment-div {
  margin: 0 0 21px 0;
}
