.btn-add-request {
  width: 171px;
  height: 42px;
  border-radius: 4px;
  background-color: var(--ion-custom-color-34);
  --background: var(--ion-custom-color-34);
}

ion-segment {
  overflow: auto;
}

ion-segment-button {
  //--background-checked : var(--ion-custom-color-34);
  --ion-color-base : var(--ion-custom-color-34);

  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--ion-text-color);
  text-transform: inherit;
  --border-width:5px;
  min-width: auto;
  width: auto;
}

.btn-div {
  width: 100%;
  text-align: right;
  margin: 8px 0 22px;
}
.segment-div {
  margin: 0 0 21px 0;
}
