<ion-content class="ion-padding" scrollEvents="true" (ionScroll)="logScrolling($event)">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="desktop-view">
    <div class="btn-div">
      <ion-button  class="btn-add-request" (click)="addRequest()">{{"Add new request" | translate}}</ion-button>
    </div>
    
    <div class="segment-div">
      <ion-segment [value]="segment" (ionChange)="segmentChange($event)">

        <ion-segment-button value="pending" *ngIf="requestStats.pending > 0">
          <ion-label>{{ "pending_value" | translate: {value:requestStats.pending} }}</ion-label>
        </ion-segment-button>

        <ion-segment-button value="started" *ngIf="requestStats.started > 0">
          <ion-label>{{ "open_value" | translate: {value:requestStats.started} }}</ion-label>
        </ion-segment-button>
        
        <ion-segment-button value="finished_by_recruitment" *ngIf="requestStats.finished_by_recruitment > 0">
          <ion-label>{{"finished_by_recruitment_value" |  translate: {value: requestStats.finished_by_recruitment} }}</ion-label>
        </ion-segment-button>

        <ion-segment-button value="re_work" *ngIf="requestStats.re_work > 0">
          <ion-label>{{"re_work_value" |  translate: {value: requestStats.re_work} }}</ion-label>
        </ion-segment-button>
         
        <ion-segment-button value="delivered" *ngIf="requestStats.delivered > 0">
          <ion-label>{{"completed_value" |  translate: {value: requestStats.delivered} }}</ion-label>
        </ion-segment-button>

        <ion-segment-button value="cancelled" *ngIf="requestStats.cancelled > 0">
          <ion-label>{{"cancelled_value" |  translate: {value: requestStats.cancelled} }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <request-listing *ngFor="let request of requests" tappable (click)="requestDetail(request)" 
      [request]="request" [showStatus]="true"></request-listing>
     
    <section class="ion-padding empty-data" *ngIf="!loading && requests && requests.length == 0">
      <ion-icon name="ios-filing-outline"></ion-icon>
      <no-items message="~ No Request Yet ~"></no-items>
    </section>

    <loading-modal [loading]="loading" type="request-list"></loading-modal>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>
