<ion-content class="ion-padding" scrollEvents="true" (ionScroll)="logScrolling($event)">

  <ion-refresher slot="fixed" *ngIf="currentPage < pageCount" (ionRefresh)="doInfinite($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="desktop-view">
    <div class="btn-div">
      <ion-button  class="btn-add-request" (click)="addRequest()">{{"Add new request" | translate}}</ion-button>
    </div>

    <div class="segment-div">
      <ion-segment [value]="segment" (ionChange)="segmentChange($event)">
        <ion-segment-button value="pending" *ngIf="requestStats.pending.length">
          <ion-label>{{"pending_value" | translate: {value:requestStats.pending.length} }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="open" *ngIf="requestStats.open.length">
          <ion-label>{{"open_value" | translate: {value:requestStats.open.length} }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="completed" *ngIf="requestStats.completed.length">
          <ion-label>{{"completed_value" |  translate: {value: requestStats.completed.length} }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cancelled" *ngIf="requestStats.cancelled.length">
          <ion-label>{{"cancelled_value" |  translate: {value: requestStats.cancelled.length} }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div *ngIf="segment == 'pending'">
      <request-listing *ngFor="let request of requestStats.pending" tappable (click)="requestDetail(request)" [request]="request"
                       [showStatus]="true"></request-listing>
    </div>

    <div *ngIf="segment == 'open'">
      <request-listing *ngFor="let request of requestStats.open" tappable (click)="requestDetail(request)" [request]="request"
                       [showStatus]="true"></request-listing>
    </div>

    <div *ngIf="segment == 'completed'">
      <request-listing *ngFor="let request of requestStats.completed" tappable (click)="requestDetail(request)" [request]="request"
                       [showStatus]="true"></request-listing>
    </div>

    <div *ngIf="segment == 'cancelled'">
      <request-listing *ngFor="let request of requestStats.cancelled" tappable (click)="requestDetail(request)" [request]="request"
                       [showStatus]="true"></request-listing>
    </div>


    <section class="ion-padding empty-data" *ngIf="!loading && requests && requests.length == 0">
      <ion-icon name="ios-filing-outline"></ion-icon>
      <no-items message="No Request Yet"></no-items>
    </section>

    <loading-modal [loading]="loading" type="request-list"></loading-modal>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>
