<ion-header >
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Employees</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list>
    <button ion-item (click)="rowSelected(candidate)" *ngFor="let candidate of candidates">
      <ion-avatar item-left>
          <img src="https://sh-payroll.s3.eu-west-2.amazonaws.com/{{candidate.candidate_personal_photo_thumb}}">
      </ion-avatar>
      {{ candidate.candidate_name }}
      <p *ngIf="candidate.store_id > 0" >{{ candidate.store.store_name }} @ {{ candidate.company.company_name }}</p>
    </button>
  </ion-list>
</ion-content>
