<ion-header [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{"Change Password" | translate}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)" class="ion-padding">
  <div class="desktop-view">
    <form [formGroup]="passwordForm">
      <ion-list>
        <ion-item>
          <ion-label position="floating">{{"Old Password" | translate}}</ion-label>
          <ion-input type="{{ oldType }}" formControlName="oldPassword"></ion-input>
          <ion-button class="btn-password" fill="clear" (click)="toggleOldPasswordVisibility()">
            <ion-icon *ngIf="oldType == 'password'" name="eye"></ion-icon>
            <ion-icon *ngIf="oldType != 'password'" name="eye-off"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{"New Password" | translate}}</ion-label>
          <ion-input type="{{ type }}" autocomplete="false" formControlName="newPassword"></ion-input>
          <ion-button class="btn-password" fill="clear" (click)="togglePasswordVisibility()">
            <ion-icon *ngIf="type == 'password'" name="eye"></ion-icon>
            <ion-icon *ngIf="type != 'password'" name="eye-off"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-button [disabled]="!this.passwordForm.valid" *ngIf="!loading" (click)="save()" expands="block">
          <ion-spinner *ngIf="loading"></ion-spinner>
          <span *ngIf="!loading">{{"Submit" | translate}}</span>
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>
