<ion-content class="ion-padding">

  <div class="desktop-view">
    <div class='brand'>
        <ion-img src="assets/logo.png"></ion-img>
    </div>

    <div class="error-msg">

        <h2>{{"Server error" | translate}}</h2>

        <p>{{"Sorry we had some technical problems during your last operation." | translate}}</p>

        <br />

        <ion-button (click)="dashboard()" class="btn-dashboard">
          {{"Dashboard" | translate}}
        </ion-button>
    </div>
  </div>
</ion-content>
