<ion-header mode="md" [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'Back' | translate }}"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateLabel.direction()">

  <div class="desktop-view">

    <div class="title-txt">
      {{ "Please type in their email address to send the invite" | translate }}
    </div>

    <form [formGroup]="form" *ngIf="form" (ngSubmit)="submitForm()">
      <ion-list>
        <ion-item lines="none">
          <ion-input inputmode="email" enterkeyhint="{{ 'Submit' | translate }}" type="email" placeholder="{{ 'email@email.com' | translate }}" #input formControlName="email_to_invite">
          </ion-input>
        </ion-item>
      </ion-list>
    </form>
  </div>

</ion-content>

<ion-footer [attr.dir]="translateLabel.direction()">
  <ion-toolbar class="ion-no-padding desktop-view">

    <ion-button *ngIf="form" class="submit-btn" expand="block" [disabled]="!form || !form.valid || loading"
      (click)="submitForm()">
      <ion-spinner *ngIf="loading"></ion-spinner>
      <span *ngIf="!loading"> {{ "Send Invite" | translate}} </span>
    </ion-button>
  </ion-toolbar>
</ion-footer>