<ion-header mode="md" class="clear-header" [class.add-border]="borderLimit" [attr.dir]="translateLabel.direction()">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'Back' | translate }}" (click)="dismiss()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" [attr.dir]="translateLabel.direction()">
  <div class="invitation-detail" *ngIf="invitation">
    <h2>{{ 'New Invitation' | translate }}</h2>

    <p [innerHTML]="'txt_invitation' | translate: {value: invitation.employer.employer_company_name }"></p>

    <ion-button class="btn-accept" (click)="accept()" color="primary">
      {{ 'Accept Invitation' | translate }}
    </ion-button>

    <ion-button class="btn-reject" (click)="reject()" fill="outline">
      {{ 'Decline' | translate }}
    </ion-button>

  </div>
</ion-content>
