[dir="ltr"] {
    .btn-close {
        right: 20px;
    }
}

[dir="rtl"] {
    .btn-close {
        left: 20px;
    }
}

.btn-close {
    position: absolute;
    top: 14px;
    font-size: 20px;
    color: var(--ion-custom-color-7);
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-start: 0;
    z-index: 999999;
}

.invitation-detail {
    border-radius: 4px;
    background-color: var(--ion-color-primary-contrast);
    display: block;
    margin: auto;
    padding: 0 30px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: var(--ion-custom-color-2);
    display: block;
    position: relative;
    padding-top: 24px;
    padding-bottom: 15px;
}

p {
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: rgba(74, 74, 74, 0.6);
}

p strong {
    color: var(--ion-custom-color-2);
}

.btn-reject, .btn-accept {
    font-size: 18px;
    font-weight: 500;
    color: var(--ion-color-primary-contrast);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 276px;
    width: 100%;
    height: 52px;
    text-transform: none;
}

.btn-accept {
    border-radius: 4px;
    --border-radius: 4px;
    margin-top: 30px;
    box-shadow: none;
}

.btn-reject {
    box-shadow: none;
  --border-color: var(--ion-text-color);
  --background: transparent;
    color: var(--ion-text-color);
  --color-focused: var(--ion-text-color);
  --background-focused: transparent;
    margin-top: 10px;
}
ion-back-button {
  display: block;
}
