<ion-header [translucent]="true">
  <ion-toolbar class="desktop-view">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="assets/images/icon-back.svg" defaultHref="/"></ion-back-button>
    
      <!-- <ion-menu-button></ion-menu-button>-->
    </ion-buttons>
    <ion-title>{{ "Chats" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [attr.dir]="translateService.direction()">
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="caret-down-sharp" refreshingSpinner="circles"
        refreshingText="{{ 'Refreshing...' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <div class="max-width">

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title size="large">{{ "Chats" | translate}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <section class="chat-section">
 
      <ion-card *ngFor="let chat of chats" tappable (click)="detail(chat)">

        <div class="thumbnail-wrapper">
          <ion-thumbnail>

            <ion-img class="employer-logo" (ionError)="onPhotoError(chat.candidate)" *ngIf="chat.candidate.candidate_personal_photo"
                  src="{{ aws.cloudinaryUrl + 'candidate-photo/' + chat.candidate.candidate_personal_photo }}"></ion-img>
            
            <ion-img src="assets/images/placeholder.png" class="no-logo" *ngIf="!chat.candidate.candidate_personal_photo"></ion-img>
            
          </ion-thumbnail>
        </div>

        <div class="chat-info-col">

          <span class="company-name" *ngIf="chat.candidate">
            {{ translateService.langContent(chat.candidate.candidate_name, chat.candidate.candidate_name_ar) }} <ng-container *ngIf="chat.candidate.store">@ {{ chat.candidate.store.store_name }}</ng-container>
          </span>
          
          <span class="company-name" *ngIf="chat.staff">
            {{ chat.staff.staff_name }} 
          </span>

          <p> {{ chat.recentMessage.message }}</p>

          <span *ngIf="chat.created_at" class="date-added">
            {{ chat.created_at | timeAgo }}
          </span>

          <ion-badge color="danger" class="unread-email-count-badge" *ngIf=" chat.candidateUnreadCount > 0">
            <span *ngIf="chat.staffUnreadCount < 9">{{chat.candidateUnreadCount}}</span>
            <span *ngIf="chat.staffUnreadCount > 9">9+</span>
          </ion-badge>

        </div><!-- END .chat-info-col -->

      </ion-card>

      <loading-modal [loading]="loading" type="chat-list"></loading-modal>

      <ion-infinite-scroll *ngIf="chats && currentPage < pageCount - 1" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </section>

    <section *ngIf="!loading && chats && chats.length == 0" class="no-chats-section">
      <p>
        {{ "You have no active chats" | translate }}
      </p>
    </section>

  </div>

</ion-content>
<!-- todo: translation + delete safe data access -->