<ion-header>
  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons right>
      <button ion-button clear color="primary" (click)="save()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <form>

    <ion-card *ngFor="let candidate of allCandidatesAssignedToCompany; let i = index">
      <ion-item>
        <ion-avatar item-left>
          <img src="https://sh-payroll.s3.eu-west-2.amazonaws.com/{{candidate.candidate_personal_photo_thumb}}">
        </ion-avatar>
        <h2>{{ candidate.candidate_name }}</h2>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col col-4 col-sm-3>
            <ion-item>
              <ion-label stacked>Hours Worked</ion-label>
              <ion-input type="number" #hoursInput
                [(ngModel)]="hours[i]" [ngModelOptions]="{standalone: true}"></ion-input>              
            </ion-item>
            <ion-item *ngIf="hours[i] < 0">
              <span class="error">Invalid value</span>  
            </ion-item>  
          </ion-col>
          <ion-col col-4 col-sm-3>
            <ion-item>
              <ion-label stacked>Bonus (KWD)</ion-label>
              <ion-input type="number" #bonusInput
                [(ngModel)]="bonus[i]" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item *ngIf="bonus[i] < 0">
              <span class="error">Invalid value</span>  
            </ion-item>  
          </ion-col>
          <ion-col col-4 col-sm-3 offset-sm-3>
            <ion-item>
              KWD {{ (parseNumber(hoursInput.value) * 2) + parseNumber(bonusInput.value) }}
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
      
  </form>

</ion-content>
