<ion-header>
  <ion-navbar>
    <ion-title>{{ operation? operation : "New Transfer" }}</ion-title>
    <ion-buttons right>
      <button ion-button clear color="primary" (click)="save()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-4>Name</ion-col>
            <ion-col col-4>Hours</ion-col>
            <ion-col col-4>Bonus (KWD)</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <div *ngIf="!editForm">
      <ion-card *ngFor="let candidateMember of candidatesObj; let i= index ">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-4><ion-label fixed>{{ candidateMember.candidate_name }}</ion-label></ion-col>
              <ion-col col-4>
                <ion-input type="number" placeholder="Hours" value="0" [(ngModel)]="hours[i]" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-col>

              <ion-col col-4>
                <ion-input type="number" placeholder="Bonus (KWD)" value="0" [(ngModel)]="bonus[i]" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngIf="editForm">
      <ion-card *ngFor="let invoiceCandidateMember of invoiceCandidatesObj; let i= index ">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-4><ion-label fixed>{{ invoiceCandidateMember.candidate_name }}</ion-label></ion-col>
              <ion-col col-4>
                <ion-input type="number" placeholder="Hours" value="0" [(ngModel)]="invoiceCandidateMember.hours" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-col>

              <ion-col col-4>
                <ion-input type="number" placeholder="Bonus" value="0" [(ngModel)]="invoiceCandidateMember.bonus" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </form>

</ion-content>
