<ion-header [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar class="desktop-view">
 
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="assets/images/icon-back.svg" defaultHref="/view/transfer"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ pageTitle | translate }}</ion-title>

    <ion-buttons slot="end" *ngIf="transfer && !transfer.contract_uuid">
      <ion-select [(ngModel)]="transfer.currency_code">
        <ion-select-option [value]="currency.code" *ngFor="let currency of authService.currencies">
          {{ currency.code }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)" class="ion-padding ion-text-center">

  <div class="desktop-view">


    <ion-card class="ion-padding card-date-range" *ngIf="transfer">

      <h4>{{"Transfer Type" | translate}}</h4>

      <!-- (ionChange)="onTransferTypeChange($event)"-->
      <ion-select [(ngModel)]="transfer.contract_type" >
        <ion-select-option value="ALL">{{"All" | translate}}</ion-select-option>  
        <ion-select-option value="HOURLY">{{"Hourly" | translate}}</ion-select-option>
        <ion-select-option value="FIXED_PRICE">{{"Fixed Price" | translate}}</ion-select-option>
        <ion-select-option value="MONTHLY_SALARY">{{"Monthly Salary" | translate}}</ion-select-option>
      </ion-select>

      <p *ngIf="transfer && transfer.transferCandidates">Total candidates: {{ transfer.transferCandidates.length }}</p>

    </ion-card>
    
    <!-- Instructions for Create -->
    <section *ngIf="scenario == 'create'">
        
      <h4>{{"Step 1: Fill Start and End Date" | translate}}</h4>

      <h4>{{"I am transferring for work done in the following time period:" | translate}}</h4>

      <ion-button *ngIf="!start_date || !end_date" (click)="openCalendar()">
        {{"Please select the date Range" | translate}}</ion-button>

      <p class="date-range" *ngIf="this.start_date && this.end_date">
        {{ "From" | translate }} <span *ngIf="this.start_date">{{ toDate(this.start_date) | date : 'MMMM d, y': undefined: translateService.currentLang }}</span> - {{ "To" | translate }}
        <span *ngIf="this.end_date">{{ toDate(this.end_date) | date : 'MMMM d, y': undefined: translateService.currentLang }}</span>

        <ion-button class="btn-clear-date-range" fill="clear" (click)="clearSelection()">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </p>
      
      <h4>{{"Step 2: Download Excel template" | translate}}</h4>

      <ion-button fill="outline" color="primary" (click)="downloadTemplate()">
        {{ "Download template" | translate }}
      </ion-button>

      <ion-button color="primary" (click)="downloadTemplate('previousTransfer')">
        {{ "Download with previous transfer data" | translate }}  
      </ion-button>

      <ng-container *ngIf="transfer && (!transfer.contract || transfer.contract.type == 'HOURLY')">
        <ion-button color="primary" (click)="downloadTemplate('workLog')" *ngIf="!start_date || !end_date">
          {{ "Download with current month's work log" | translate }}  
        </ion-button>

        <ion-button color="primary" (click)="downloadTemplate('workLog')" *ngIf="start_date && end_date">
          {{ "Download with work log for selected dates" | translate }}  
        </ion-button>
      </ng-container>

      <!-- 
        
        "Step 2: Fill out the number of hours worked and the bonus amount to be sent in KWD"-->
      <h4>{{ "Step 3: Fill out the number of hours worked and the bonus amount" | translate}}</h4>

      <h4>{{"Step 4: Upload the updated Excel file" | translate}}</h4>
    </section>

    <br />

    <!-- Instructions for Update -->
    <section *ngIf="scenario == 'update'">
      <h4>{{"Upload the updated Excel file" | translate}}</h4>
    </section>

    <!-- Upload Form -->
    <input type='file' #fileInput (change)="browserUpload($event)" accept=".xlsx,.xls" />

    <ion-button (click)="upload()" [disabled]="uploading || !start_date || !end_date">
      <span *ngIf="!uploading">{{"Upload" | translate}}</span>
      <ion-spinner *ngIf="uploading">{{"Uploading..." | translate}}</ion-spinner>
    </ion-button>
 
    <ng-container *ngIf="transfer && transfer.contract" >
      <h5 class="txt-heading">{{ "Contract" | translate }}</h5>

      <ion-item class="item-contract" tappable 
        [routerLink]="'/contract-view/' + transfer.contract.contract_uuid">
        <div tabindex="0"></div>
        <ion-label>
          <p class="txt-time" *ngIf="transfer.contract.created_at">
            {{ translateService.toDate(transfer.contract.created_at) | date: 'MMM d, y - h:mm a' : undefined: translateService.currentLang }}
          </p>

          <ng-container *ngIf="transfer.contract.amount">
            <h5 class="txt-value" *ngIf=" transfer.contract.type == 'HOURLY'">
              {{ transfer.contract.amount.company_hourly_rate | number:'1.0-3' }} {{ transfer.contract.currency_code }}/ {{ "hour" | translate }}
            </h5>
            
            <h5 class="txt-value" *ngIf="transfer.contract.type == 'FIXED_PRICE'">
              {{ transfer.contract.amount.company_total | number:'1.0-3' }} {{ transfer.contract.currency_code }} 
            </h5>
            
            <h5 class="txt-value" *ngIf="transfer.contract.type == 'MONTHLY_SALARY'">
              {{ transfer.contract.amount.company_total | number:'1.0-3' }} {{ transfer.contract.currency_code }}/ {{ "month" | translate }}
            </h5>
          </ng-container>

          <p class="txt-id">#{{transfer.contract.contract_uuid}}</p>
        </ion-label>
      </ion-item>  
    </ng-container>
  </div>

</ion-content>