<ion-header [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar [class.hide-back-button]="otp">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <div class='brand'>
      <img src="assets/logo.png" />
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" class='contentArea ion-padding'>

  <div class='registerCard'>

    <div class='authArea'>
      <form [formGroup]="registerForm" *ngIf="registerForm" (ngSubmit)="registerSubmit()" (keyup.enter)="registerSubmit()"  novalidate>

        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input inputmode="text" enterkeyhint="Next" #input type="text" formControlName="name" maxlength="30"></ion-input>
        </ion-item>

        <div class="error-message"
          *ngIf="!registerForm.controls.name.valid && (registerForm.controls.name.touched ||  isLoading)">
          <p>Please enter name</p>
        </div>

        <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input inputmode="email" enterkeyhint="Next" type="email" [readonly]="this.otp" formControlName="email"></ion-input>
        </ion-item>

        <div class="error-message"
          *ngIf="!registerForm.controls.email.valid && (registerForm.controls.email.touched || isLoading) ">
          <p *ngIf="registerForm.controls.email.errors && registerForm.controls.email.errors.required">
            Please enter email address</p>
          <p
            *ngIf="registerForm.controls.email.errors && !registerForm.controls.email.errors.required && registerForm.controls.email.errors.invalidEmail">
            Please enter valid email address
          </p>
        </div>

        <ion-item class="password_field">
          <ion-label position="floating">Password</ion-label>
          <ion-input inputmode="text" enterkeyhint="Next" type="{{ type }}" formControlName="password"></ion-input>

          <ion-button class="password_change_icon" fill="clear" type="button" slot="end" (click)="showPassword()">
            <ion-icon *ngIf="!showPass" name="eye"></ion-icon>
            <ion-icon *ngIf="showPass" name="eye-off"></ion-icon>
          </ion-button>
        </ion-item>

        <div class="error-message"
          *ngIf="!registerForm.controls.password.valid && (registerForm.controls.password.touched ||  isLoading)">

          <p *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.required">
            Please enter password
          </p>

          <p *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.maxlength">
            Password can not be greater than {{ registerForm.controls.password.errors.maxlength.requiredLength }} character
          </p>

          <p *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.minlength">
            Password can not be less than {{ registerForm.controls.password.errors.minlength.requiredLength }} character
          </p>

        </div>

        <ion-button type="submit" class="btn-register" [disabled]="!registerForm.valid || isLoading">
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <span *ngIf="!isLoading">Create an account</span>
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
