<!--<ion-header [attr.dir]="translateService.direction()" [class.add-border]="borderLimit" class="clear-header">-->
<!--  <ion-toolbar [class.hide-back-button]="otp">-->

<!--      <ion-buttons slot="start">-->
<!--          <ion-back-button defaultHref="/"></ion-back-button>-->
<!--      </ion-buttons>-->

<!--  </ion-toolbar>-->
<!--</ion-header>-->
<ion-content [attr.dir]="translateService.direction()" [scrollEvents]="true" (ionScroll)="logScrolling($event)" class='contentArea ion-padding' fullscreen="true">
  <ion-back-button [class.hide-back-button]="otp" defaultHref="/login"></ion-back-button>

  <div class='brand'>
    <ion-img src="assets/icon.png"></ion-img>
    <h3>Employer Portal</h3>
  </div>

  <ion-card class='registerCard'>
    <ion-card-content class='authArea'>

      <form [formGroup]="registerForm" *ngIf="registerForm" (ngSubmit)="registerSubmit()" (keyup.enter)="registerSubmit()"  novalidate>

        <ion-item>
          <ion-label position="floating">{{ "Your Name" | translate}}*</ion-label>
          <ion-input inputmode="text" enterkeyhint="Next" #input type="text" formControlName="name" maxlength="30"></ion-input>
        </ion-item>

        <div class="error-message"
          *ngIf="!registerForm.controls.name.valid && (registerForm.controls.name.touched ||  isLoading)">
          <p>{{ "Please enter name" | translate}}</p>
        </div>

        <ion-item>
          <ion-label position="floating">{{ "Your Company Name" | translate}}*</ion-label>
          <ion-input inputmode="text" enterkeyhint="Next" #input type="text" formControlName="company_name" maxlength="30"></ion-input>
        </ion-item>

        <div class="error-message"
          *ngIf="!registerForm.controls.company_name.valid && (registerForm.controls.company_name.touched ||  isLoading)">
          <p>{{ "Please enter company name" | translate}}</p>
        </div>

        <ion-item>
          <ion-label position="floating">{{ "Your Job Title" | translate}}</ion-label>
          <ion-input inputmode="text" enterkeyhint="Next" #input type="text" formControlName="contact_position" maxlength="30"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{ "Your Phone Number" | translate}}*</ion-label>
          <ion-input inputmode="text" enterkeyhint="Next" #input type="text" formControlName="phone_number" maxlength="30"></ion-input>
        </ion-item>

        <div class="error-message"
          *ngIf="!registerForm.controls.phone_number.valid && (registerForm.controls.phone_number.touched ||  isLoading)">
          <p>{{ "Please enter phone number" | translate}}</p>
        </div>

        <ion-item>
          <ion-label position="floating">{{ "Email Address" | translate}}</ion-label>
          <ion-input inputmode="email" enterkeyhint="Next" type="email" [readonly]="this.otp" formControlName="email"></ion-input>
        </ion-item>

        <div class="error-message"
          *ngIf="!registerForm.controls.email.valid && (registerForm.controls.email.touched || isLoading) ">
          <p *ngIf="registerForm.controls.email.errors && registerForm.controls.email.errors.required">
            {{"Please enter email address" | translate}}</p>
          <p
            *ngIf="registerForm.controls.email.errors && !registerForm.controls.email.errors.required && registerForm.controls.email.errors.invalidEmail">
            {{"Please enter valid email address" | translate}}
          </p>
        </div>
       
        <ion-item>
          <ion-label position="floating">{{ "Requesting for" | translate}}</ion-label>
          <ion-select formControlName="requesting_for" interface="action-sheet">
            <ion-select-option>For Hiring Part-timers</ion-select-option>
            <ion-select-option>For Hiring Full-timers</ion-select-option>
            <ion-select-option>Recruitment Services</ion-select-option>
            <ion-select-option>For Event-based Hiring</ion-select-option>
            <ion-select-option>Book A Meeting</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{ "Country" | translate}}</ion-label>
          <ion-input style="cursor: pointer;" (click)="openCountryList()" [readonly]="true" formControlName="country"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">{{ "Currency" | translate}}*</ion-label>
          <ion-select formControlName="currency_code">
            <ion-select-option [value]="currency.code" *ngFor="let currency of currencies">
              {{ currency.code }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!--
        <ion-item class="password_field">
          <ion-label position="floating">{{"Password" | translate}}</ion-label>
          <ion-input inputmode="text" enterkeyhint="Next" type="{{ type }}" formControlName="password"></ion-input>

          <ion-button class="password_change_icon" fill="clear" type="button" slot="end" (click)="showPassword()">
            <ion-icon *ngIf="!showPass" name="eye"></ion-icon>
            <ion-icon *ngIf="showPass" name="eye-off"></ion-icon>
          </ion-button>
        </ion-item>

        <div class="error-message"
          *ngIf="!registerForm.controls.password.valid && (registerForm.controls.password.touched ||  isLoading)">

          <p *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.required">
            {{"Please enter password" | translate}}
          </p>

          <p *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.maxlength">
            {{'password_max_length' | translate:{ value: registerForm.controls.password.errors.maxlength.requiredLength } }}
          </p>

          <p *ngIf="registerForm.controls.password.errors && registerForm.controls.password.errors.minlength">
            {{'password_min_length' | translate:{ value: registerForm.controls.password.errors.minlength.requiredLength } }}
          </p>

        </div>

        <ion-item lines="none">
          <ion-label>
            {{ "I would like to receives email notifications" | translate }}
          </ion-label>
          <ion-checkbox slot="start" formControlName="receive_email"></ion-checkbox>
        </ion-item>-->

        <ion-button type="submit" class="btn-register" [disabled]="!registerForm.valid || isLoading">
          <ion-spinner *ngIf="isLoading"></ion-spinner>
          <span *ngIf="!isLoading">{{ "Request an account" | translate}}</span>
        </ion-button>
      </form>
         
      <ion-button *ngIf="(this.platform.is('ios') && this.platform.is('capacitor'))" fill="clear" class="div-space btn-apple"
                [class.apple-logo]="!authService.appleAuthLoading" (click)="loginByApple()">
        <span *ngIf="!authService.appleAuthLoading">{{ "Sign in with Apple" | translate }}</span>
        <ion-spinner *ngIf="authService.appleAuthLoading"></ion-spinner>
      </ion-button>

      <ion-button fill="outline" class="btn-login-bawes" (click)="loginWithAuth0()">
        {{ "Log in with BAWES" | translate }} <ion-icon slot="end" src="assets/images/icon-bawes.svg"></ion-icon>
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
