<ion-content [attr.dir]="translateService.direction()">

  <h5>{{ "Approve working hours" | translate }} </h5>
  
  <button class="btn-close" (click)="close()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="close-outline"></ion-icon>
  </button>

  <form (ngSubmit)="save()" (keyup.enter)="save()" [formGroup]="form" *ngIf="form">
    
    <p *ngIf="candidate">{{ "txt_rate_candidate" | translate : {
            candidate: translateService.langContent(candidate.candidate_name, candidate.candidate_name_ar) 
          } 
       }}</p>

    <div class="rating-wrapper">
      <ul>
        <li [ngClass]="{ 'selected': form.value.rating == 1 }" (click)="setRating(1)">
          😠
          <!-- <ion-icon src="../../../../../assets/images/rate-1.svg"></ion-icon>-->
        </li>
        <li [ngClass]="{ 'selected': form.value.rating == 2 }" (click)="setRating(2)">
          🙁
          <!-- <ion-icon src="../../../../../assets/images/rate-2.svg"></ion-icon>-->
        </li>
        <li [ngClass]="{ 'selected': form.value.rating == 3 }" (click)="setRating(3)">
          <ion-img src="assets/images/rate-3.png"></ion-img> 
        </li>
        <li [ngClass]="{ 'selected': form.value.rating == 4 }" (click)="setRating(4)">
          <ion-img src="assets/images/rate-3.png"></ion-img> 
        </li>
        <li [ngClass]="{ 'selected': form.value.rating == 5 }" (click)="setRating(5)">
          😍
          <!-- <ion-icon src="../../../../../assets/images/rate-5.svg"></ion-icon>-->
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>

    <ion-item line="none">
      <ion-label position="floating">{{ "Notes" | translate }}</ion-label>
      <ion-textarea formControlName="note"></ion-textarea>
    </ion-item>
  
    <ion-item line="none" class="toggle-wrapper">
      <ion-label>{{ "Make feedback public" | translate }}</ion-label>
      <ion-toggle slot="start" mode="ios" formControlName="is_public"></ion-toggle>
    </ion-item>

    <ion-button class="btn-submit" type="submit()" [disabled]="saving || !form.valid || !form.dirty">
      <ion-spinner *ngIf="saving"></ion-spinner>
      <span  *ngIf="!saving">{{ "Submit Feedback" | translate }}</span>
    </ion-button>
  </form>
</ion-content>
