<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transfer Details</ion-title>
    <ion-buttons right *ngIf="transferDetails && transferDetails.transfer_status==='10'">
      <button ion-button clear color="primary" (click)="edit(transferDetails)">
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="transferDetails">

    <button ion-item>
      
      Company name : {{ transferDetails.company_name}}<br> 
      Company email : {{ transferDetails.company_email}}<br> 

      Transfer Created : {{ transferDetails.transfer_created_at}}<br> 
      Transfer Updated :{{ transferDetails.transfer_updated_at}}<br>    
      Total:{{ transferDetails.company_total}}<br> 

      Transfer Status:
      <span *ngIf="transferDetails.transfer_status=='10'"> Transfer Initiated </span>
      <span *ngIf="transferDetails.transfer_status=='1'"> Payment Sent </span>
      <span *ngIf="transferDetails.transfer_status=='2'"> Payment Received </span>
      <span *ngIf="transferDetails.transfer_status=='3'"> Salary distribution in progress </span>
      <span *ngIf="transferDetails.transfer_status=='4'"> Transfer Completed </span>
      <span *ngIf="transferDetails.transfer_status=='5'"> Transfer Locked </span>

      <br>

    </button>

    <ion-item-group *ngFor="let group of transferDetails.candidates | store_name">
      <ion-item-divider><b>{{group.name}}</b></ion-item-divider>
      <button *ngFor="let resource of group.resources" ion-item>        
         <ion-row>
            <ion-col > Candidate Name:</ion-col>
             <ion-col >{{resource.candidate_name}}</ion-col>
        </ion-row>
      <ion-row>
      <ion-col > Candidate Email:</ion-col>
        <ion-col >{{resource.candidate_email}}</ion-col>
     </ion-row>

      <!--<ion-row>
      <ion-col > hourly_rate:</ion-col>
        <ion-col>{{resource.hourly_rate}}</ion-col>
     </ion-row>-->

      <ion-row>
      <ion-col > Hours:</ion-col>
        <ion-col>{{ resource.hours }}</ion-col>
     </ion-row>

      <ion-row>
      <ion-col > Bonus:</ion-col>
        <ion-col>{{resource.bonus}}</ion-col>
     </ion-row>

      <ion-row>
        <ion-col > Total:</ion-col>
        <ion-col >{{ total(resource) }}</ion-col>
     </ion-row>

      </button>
      <br>
    </ion-item-group>
 
  </ion-list>

  <h3 *ngIf="invoices.length > 0">Invoices</h3>

  <ion-list>
    <ion-item-sliding *ngFor="let invoice of invoices">
      <button ion-item (click)="downloadInvoice(invoice.invoice_id)">
        Download Invoice #{{ invoice.invoice_id }}
      </button>
    </ion-item-sliding>
  </ion-list>

  <h3 *ngIf="receipts.length > 0">Receipts</h3>
  
  <ion-list>
    <ion-item-sliding *ngFor="let receipt of receipts">
      <button ion-item (click)="downloadReceipt(receipt.invoice_id)">
        Download Receipt #{{ receipt.invoice_id }}
      </button>
    </ion-item-sliding>
  </ion-list>
 
  <br />

</ion-content>

<ion-footer *ngIf="transferDetails && transferDetails.transfer_status==='10'">
  <button ion-button full (click)="transferLock(transferDetails.transfer_id)">
   Lock Transfer
  </button>
</ion-footer>


<ion-footer *ngIf="transferDetails && transferDetails.transfer_status==='5'">
  <button ion-button full (click)="paymentSent(transferDetails.transfer_id)">
    Payment Sent
  </button>
</ion-footer>


<ion-footer *ngIf="transferDetails && transferDetails.transfer_status==='4'">
  <button ion-button full (click)="generateInvoice(transferDetails.transfer_id)">
    Generate Invoice
  </button>
</ion-footer>
