<ion-header [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/view/requests"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="company">{{ company.company_name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)" class="ion-padding">
  <div class="desktop-view">
    <!-- List of Stores -->
    <h5>{{"Stores" | translate}}</h5>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>

    <ion-list *ngIf="stores && stores.length > 0 && !loading">
      <ion-item tappable
              *ngFor="let store of stores"
              (click)="storeSelected(store)">

        <div tabindex="0"></div>

        <ion-label>
          <h5>{{ store.store_id}} - {{ store.store_name}}</h5>
          <p *ngIf="store.store_location"><ion-icon name="location-outline"></ion-icon> {{ store.store_location }}</p>
        </ion-label>
        <ion-badge slot="end" *ngIf="store.candidates && store.candidates.length > 0">
          {{ store.candidates.length }} {{ store.candidates.length > 1 ? "employees" : "employee" }}
        </ion-badge>
      </ion-item>
    </ion-list>

    <!-- Pagination -->

    <ion-row class="ion-text-center" *ngIf="!loading">
      <div class="pagination-wrapper">
        <ion-button *ngFor="let page of pages" size="small" color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
          {{ page }}
        </ion-button>
      </div>
    </ion-row>
  </div>
</ion-content>
