<ion-card [class.pending]="request.request_status == 'pending'" tappable>
  <ion-card-content>
    <h1>{{ request.request_position_title }}</h1>
    <div class="requested-by" *ngIf="request.requestCreatedBy">Requested by <b>{{ request.requestCreatedBy.staff_name }}</b></div>
    <div class="created-at">on {{request.request_updated_datetime | date}}</div>

    <ion-list lines="none">
      <ion-item>
        <ion-icon class="icon" src="assets/images/ic_location.svg"></ion-icon>
        <label>Recent</label>
      </ion-item>
      <ion-item>
        <ion-icon class="icon" src="assets/images/ic_suitcase-light.svg"></ion-icon>
        <label>Recent</label>
      </ion-item>
      <ion-item>
        <ion-icon class="icon" src="assets/images/componsation.svg"></ion-icon>
        <label>Recent</label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
