.icon {
  font-size: 35px;
  color: var(--ion-custom-color-27);
  vertical-align: middle;
  margin-right: 19px;
  width: 18px;
}

ion-badge {
  margin-inline-end: 5px;
}


label{
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: justify;
  color: var(--ion-custom-color-6);
}
ion-item {
  --padding-start: 0;
  --min-height: 16px;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: var(--ion-text-color);
}

.created-at {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: justify;
  color: var(--ion-custom-color-6);
}
.requested-by {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: justify;
  color: var(--ion-text-color);
}

ion-grid {
  border-radius: 4px;
  border: solid 1px var(--ion-custom-color-25);
  background-color: var(--ion-color-primary-contrast);
  padding: 3px 13px;
  margin-top: 22px;
}

ion-col span {
  opacity: 0.8;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: justify;
  color: var(--ion-custom-color-6);
}

ion-card {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 16px;
    border-radius: 5px;
    //background-color: var(--ion-color-primary-contrast);
    box-shadow: none;

    ion-card-header {
        margin: 0;
        position: relative;
        background-color: var(--ion-custom-color-17);

        ion-card-title {
            font-size: 21px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: justify;
            color: var(--ion-color-light-contrast);
        }

        ion-card-subtitle {
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: justify;
            color: var(--ion-color-light-contrast);
        }

        p {
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.31;
            letter-spacing: normal;
            text-align: justify;
            color: var(--ion-color-light-contrast);
            margin: 10px 0 5px 0;
        }
    }

    ion-card-content {
        position: relative;
        border-radius: 5px;
        //background-color: var(--ion-color-primary-contrast);
        border: solid 1px var(--ion-custom-color-1);

        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.65;
        letter-spacing: normal;
        text-align: justify;
        //color: var(--ion-color-light-contrast);
        padding: 24px 24px 24px 24px;

        .content-footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 0;
          padding:9px;
          p {
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            color: var(--ion-color-primary-contrast);
            margin: 0;
            padding: 0;
          }
        }

        .txt-additional-info {
          margin: 8px 0 9px;
          font-family: EffraLight;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.65;
          letter-spacing: normal;
          text-align: justify;
        }

        h1 {
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.65;
          letter-spacing: normal;
          text-align: justify;
          color: var(--ion-color-light-contrast);
        }
        h3 {
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.65;
          letter-spacing: normal;
          text-align: justify;
        }
        h5 {
          font-size: 16px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.65;
          letter-spacing: normal;
          text-align: justify;
          color: var(--ion-color-light-contrast);
          margin-top: 40px;
          margin-bottom: 10px;
        }

        .time {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.65;
          letter-spacing: normal;
          text-align: justify;
          color: var(--ion-color-light-contrast);
        }
    }
}

.pending ion-card-header {
    background-color: var(--ion-custom-color-28);
}

.background-red {
  background: var(--ion-custom-color-18)
}

.background-grey {
  background: var(--ion-custom-color-20);

  p {
    color: var(--ion-color-dark) !important;
  }
}

.background-green {
  background: var(--ion-custom-color-19)
}

.pending-request {
  padding: 17px 24px 52px 24px!important;
}
[dir="rtl"] {
  .icon {
    margin-left: 19px;
    margin-right: 0;
  }
}
