ion-item {

  ion-badge {
    margin-right: 5px;
  }

  a {
    text-decoration: none;

    ion-icon {
      position: relative;
      top: 3px;
      margin-right: 5px;
    }
  }

  p {
    margin-bottom: 5px;
  }
}
