<ion-header [class.add-border]="borderLimit" class="clear-header">
  <ion-toolbar class="container">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <ion-list *ngIf="companyContact">
      <ion-item>
        <div tabindex="0"></div>

        <ion-label>

          <h4>{{ companyContact.contact_name }}</h4>

          <p>
            {{ companyContact.contact_position }}
          </p>

          <p *ngIf="companyContact.contact_email">
            <a href="mailto:{{ companyContact.contact_email }}">
              <ion-icon name="mail-outline"></ion-icon> {{ companyContact.contact_email }}
            </a>
          </p>

          <p>
            <a href="mailto:{{ contactEmail.email_address }}"
              *ngFor="let contactEmail of companyContact.contactEmails">
              <ion-icon name="mail-outline"></ion-icon> {{ contactEmail.email_address }}
            </a>
          </p>

          <p>
            <a href="tel:{{ contactPhone.phone_number }}"
              *ngFor="let contactPhone of companyContact.contactPhones">
              <ion-icon name="call-outline"></ion-icon> {{ contactPhone.phone_number }}
            </a>
          </p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h4>Receive Email?</h4>
          <p *ngIf="companyContact.contact_receive_email">Yes</p>
          <p *ngIf="!companyContact.contact_receive_email">No</p>
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>
          <h4>Receive notification?</h4>
          <p *ngIf="companyContact.contact_receive_notification">Yes</p>
          <p *ngIf="!companyContact.contact_receive_notification">No</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>

          <p>Added at {{ toDate(companyContact.contact_created_at) | date: 'MMM d, y, h:mm:ss a' }}</p>
          <p>Updated {{ companyContact.contact_updated_at | timeAgo }}</p>

        </ion-label>

      </ion-item>
    </ion-list>

    <ion-item-divider *ngIf="notes.length > 0">
      <ion-label>
        Notes
      </ion-label>
    </ion-item-divider>

    <ion-list *ngIf="notes.length > 0">
      <note *ngFor="let note of notes" [note]="note" (onChange)="loadNotes()" (onDelete)="loadNotes()"></note>
      <!-- [routerLink]="'/note-view/' + note.note_uuid" -->
    </ion-list>

    <loading-modal [loading]="loading" type="text-list"></loading-modal>
  </div>
</ion-content>
