<ion-header>
  <ion-toolbar class="desktop-view">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="assets/images/icon-back.svg" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="desktop-view"> 
    <ion-title class="candidate_name">
      {{ "Time log" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="desktop-view session-wrapper">
    
    <div class="date-wrapper" tappable *ngFor="let candidateWorkingDate of candidateWorkingDates" 
    [routerLink]="['/log-hour-list', candidateWorkingDate.candidate_id, candidateWorkingDate.date, candidateWorkingDate.store_id]">
    
      <h2>{{ candidateWorkingDate.date | date : 'mediumDate': undefined: translateService.currentLang}}</h2>
      
      <ion-badge class="warning" *ngIf="candidateWorkingDate.status == 0">
        {{ "Pending" | translate }}
      </ion-badge>
      <ion-badge class="success" *ngIf="candidateWorkingDate.status == 1">
        {{ "Approved" | translate }}
      </ion-badge>
      <ion-badge class="warning" *ngIf="candidateWorkingDate.status == 2">
        {{ "Rejected" | translate }}
      </ion-badge>

      <div class="clearfix"></div>

      <div class="time-wrapper">
        <b>{{ candidateWorkingDate.total_time | secondsToTime }}</b>  
        <span>
          {{ translateService.toDate(candidateWorkingDate.start_time) | date: "shortTime": undefined: translateService.currentLang}} 
          <ion-icon name="arrow-forward-outline"></ion-icon> 
          {{ translateService.toDate(candidateWorkingDate.end_time) | date: "shortTime": undefined: translateService.currentLang}}
        </span>
      </div>
    </div>
    
    <!-- todo: replace with placeholder image -->
    <p *ngIf="candidateWorkingDates.length == 0 && !loading">
      {{ "No record found" | translate }}
    </p>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
 
</ion-content>
