ion-title {
    color: var(--Neutral-95, #23233D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
}

ion-title {
  padding-inline-start: 2px;
}

h4 {
    color: var(--Neutral-95, #23233D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    margin-bottom: 24px;
    margin-top: 0;
}
 
.detail-item {
  margin-bottom: 24px;

    .txt-label {
        color: var(--Neutral-90, #4B4B61);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
    }

    .txt-value {
        color: var(--Neutral-95, #23233D);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
    }
}

 
  
  .time-wrapper {
    margin-top: 8px;
  }