<ion-header>
  <ion-toolbar class="desktop-view">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="assets/images/icon-back.svg" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="selectAll()">
        {{ "Select All" | translate }}
      </ion-button>
    </ion-buttons>  
  </ion-toolbar>
  <ion-toolbar class="desktop-view"> 
    <ion-title class="candidate_name">
      {{ "Time log" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [dir]="translateService.direction()">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="desktop-view session-wrapper">
     
    <div class="message-wrapper warning" *ngIf="warningMsg">
      <p class="message">{{ warningMsg }}</p>
    </div>
    
    <div class="message-wrapper success" *ngIf="successMsg">
      <p class="message">{{ successMsg }}</p>
    </div>
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <button class="btn-date-range" (click)="openCalendar()" [class.active]="start_date || end_date">
            <ion-icon src="assets/images/filter.svg"></ion-icon> {{ "Filter by Date" | translate }}
          </button>
        </ion-col>
        <ion-col *ngIf="start_date">
          <ion-item line="none"  (click)="selectStartDate($event)" >
            <ion-label position="floating">{{ "Select Date" | translate }}</ion-label>
            <ion-input readonly [value]="start_date"></ion-input>

            <ion-button slot="end" fill="clear">
              <ion-icon slot="icon-only" name="time-outline"></ion-icon>
            </ion-button>

          </ion-item>
        </ion-col>
        <ion-col *ngIf="end_date">
          <ion-item line="none" (click)="selectEndDate($event)">
            <ion-label position="floating">{{ "Select Date" | translate }}</ion-label>
            <ion-input readonly [value]="end_date"></ion-input>
            <ion-button slot="end" fill="clear">
              <ion-icon slot="icon-only" name="time-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
     
    <ng-container *ngFor="let group of candidateWorkingDates | groupByMonth : 'date'">

      <h4 class="txt-date">{{ group.name }}</h4>

      <app-work-log-date [candidateWorkingDate]="candidateWorkingDate" 
        (toggleSelection)="toggleSelection(candidateWorkingDate)"
        [checked]="arr_cwd_uuid.indexOf(candidateWorkingDate.cwd_uuid) > -1? true: false"
        *ngFor="let candidateWorkingDate of group.resources"></app-work-log-date>
      
    </ng-container>

    <!-- todo: replace with placeholder image -->
    <p *ngIf="candidateWorkingDates.length == 0 && !loading">
      {{ "No record found" | translate }}
    </p>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
 
</ion-content>

<ion-footer *ngIf="arr_cwd_uuid.length > 0">
  <div class="max-width">
    <div class="btn-wrapper" >
      <ion-button class="btn-reject" (click)="reject()"  fill="outline" color="danger">
        {{ "Reject" | translate }}
      </ion-button>
    
      <ion-button class="btn-approve" (click)="approve()">
        {{ "Approve" | translate }}
      </ion-button>

      <div class="clearfix"></div>
    </div>
  </div>
</ion-footer>