<ion-header>
  <ion-toolbar class="desktop-view">
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="assets/images/icon-back.svg" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="desktop-view"> 
    <ion-title class="candidate_name">
      {{ "Time log" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="desktop-view session-wrapper">
     
    <app-work-log-date [candidateWorkingDate]="candidateWorkingDate" 
      *ngFor="let candidateWorkingDate of candidateWorkingDates"></app-work-log-date>
    
    <!-- todo: replace with placeholder image -->
    <p *ngIf="candidateWorkingDates.length == 0 && !loading">
      {{ "No record found" | translate }}
    </p>

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
 
</ion-content>
