<ion-header >
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Sub Companies</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list>
    <button ion-item 
      *ngFor="let company of companies"
      (click)="rowSelected(company)">
      {{ company.company_name}}
    </button>
  </ion-list>

  <ion-row text-center>
    <div class="pagination-wrapper">
      <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </button>
    </div>
  </ion-row>

</ion-content>
