<ion-header >
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="companies">  
    <button ion-item 
      *ngFor="let company of companies"
      (click)="companySelected(company)">
      {{ company.company_name }}
      
      <!-- Assigned employees count badge -->
      <ion-badge item-right *ngIf="company.total_candidates && company.total_candidates > 0">
        {{ company.total_candidates }} {{ company.total_candidates > 1 ? "employees" : "employee" }}
      </ion-badge>
      <!-- Subcompany count badge -->
      <ion-badge item-right *ngIf="company.subcompanies && company.subcompanies.length > 0">
        {{ company.subcompanies.length }} {{ company.subcompanies.length > 1 ? "subcompanies" : "subcompany" }}
      </ion-badge>
      <!-- Store count badge -->
      <ion-badge item-right *ngIf="company.stores && company.stores.length > 0">
        {{ company.stores.length }} {{ company.stores.length > 1 ? "stores" : "store" }}
      </ion-badge>
    </button>
  </ion-list>

  <ion-list *ngIf="stores">
    <ion-item-sliding *ngFor="let store of stores">
      <button ion-item (click)="rowSelected(store)">
        {{ store.store_name }}
        <ion-badge item-right *ngIf="store.candidates.length > 0">
          {{ store.candidates.length }} {{ store.candidates.length > 1 ? "employees" : "employee" }}
        </ion-badge>
      </button>
    </ion-item-sliding>
  </ion-list>
</ion-content>