<ion-header >
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="companies">  
    <button ion-item 
      *ngFor="let company of companies"
      (click)="companySelected(company)">
      {{ company.company_name }}
      
      <!-- Assigned employees count badge -->
      <ion-badge item-right *ngIf="company.totalCandidates && company.totalCandidates > 0">
        {{ company.totalCandidates }} {{ company.totalCandidates > 1 ? "employees" : "employee" }}
      </ion-badge>
      <!-- Subcompany count badge -->
      <ion-badge item-right *ngIf="company.subCompanies && company.subCompanies.length > 0">
        {{ company.subCompanies.length }} {{ company.subCompanies.length > 1 ? "subcompanies" : "subcompany" }}
      </ion-badge>
      <!-- Store count badge -->
      <ion-badge item-right *ngIf="company.stores && company.stores.length > 0">
        {{ company.stores.length }} {{ company.stores.length > 1 ? "stores" : "store" }}
      </ion-badge>
    </button>
  </ion-list>

  <ion-list *ngIf="stores">
    <ion-item-sliding *ngFor="let store of stores">
      <button ion-item (click)="rowSelected(store)">
        {{ store.store_name }}
        <ion-badge item-right *ngIf="store.totalCandidates > 0">
          {{ store.totalCandidates }} {{ store.totalCandidates > 1 ? "employees" : "employee" }}
        </ion-badge>
      </button>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>