<ion-content class='contentArea ion-padding' [attr.dir]="translateService.direction()">

  <div class='brand'>
    <ion-img src="assets/icon.png"></ion-img>
    <h3>Studenthub Payroll</h3>
  </div>

  <ion-card class='loginCard'>
    <ion-card-content class='authArea'>

      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()"  class="classicInput" novalidate>
        <ion-item lines="none">
          <ion-input type="email" #emailInput
            inputmode="email"
            formControlName="email"
            placeholder="{{'Your Email Address' | translate}}">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="field-password">
          <ion-input type="{{type}}" #passwordInput formControlName="password" placeholder="{{'Your Password' | translate}}">
          </ion-input>

          <ion-button class="btn-password" fill="clear" (click)="showPassword()">
            <ion-icon *ngIf="type == 'password'" name="eye"></ion-icon>
            <ion-icon *ngIf="type != 'password'" name="eye-off"></ion-icon>
          </ion-button>
        </ion-item>

        <div class="ion-text-center submit-btn">
          <ion-button expand="block" type="submit"
                  [disabled]="!loginForm.valid || isLoading ||
                        (emailInput.value == oldEmailInput && passwordInput.value == oldPasswordInput)">
            <ion-spinner *ngIf="isLoading"></ion-spinner>
            <span *ngIf="!isLoading">{{"Sign in" | translate}}</span>
          </ion-button>
        </div>

      </form>
      <!-- END Login Form -->

      <br />

      <div class="ion-text-center" *ngIf="!isLoading">
        <a (click)="resetPasswordRequest()" tappable>
          {{"Forgot your password ?" | translate}}
        </a>
      </div>

      <br/>
      
      <ion-button *ngIf="(this.platform.is('ios') && this.platform.is('capacitor'))" fill="clear" class="div-space btn-apple"
            [class.apple-logo]="!authService.appleAuthLoading" (click)="loginByApple()">
        <span *ngIf="!authService.appleAuthLoading">{{ "Sign in with Apple" | translate }}</span>
        <ion-spinner *ngIf="authService.appleAuthLoading"></ion-spinner>
      </ion-button>

      <ion-button class="btn-login-bawes" (click)="loginWithAuth0()" fill="outline">
        {{ "Log in with BAWES" | translate }} <ion-icon slot="end" src="assets/images/icon-bawes.svg"></ion-icon>
      </ion-button>
      
      <br />
      
      <div class="ion-text-center" *ngIf="!isLoading" tappable>
        <a *ngIf="translateService.currentLang == 'ar'" (click)="changeLanguage($event)">English</a>
        <a *ngIf="translateService.currentLang == 'en'" (click)="changeLanguage($event)">عربى</a>
      </div>
      
    </ion-card-content>
  </ion-card>

  <ion-button (click)="openRegisterPage()" class="btn-register">
    <span>{{ "Don't have an account?" | translate }} </span> <br />
    <b>{{ "Request an account" | translate }}</b>
  </ion-button>
     

</ion-content>
