.loginCard{
  max-width:350px;
  margin-left: auto;
  margin-right: auto;
}

.contentArea{
  background: #4354a5;
  --background: #4354a5;
}

.brand {
  text-align: center;

  ion-img {
    width: 100px;
  }

  h3{
    color:white;
    margin:0;
    padding:0;
    padding-bottom: 10px;
    font-size:1.6em;
  }
}

.authArea button{
  margin-bottom:7px;
}

.submit-btn ion-button {
  background-color: #fff !important;
  border: 1px solid gray;
  background: #fff;
  color: #000;
  --background: #fff;
  --box-shadow: none;
  --background-color: #fff !important;
}
.submit-btn ion-spinner {
  color: #000;
}

ion-item.field-password {
  ion-input {
      --padding-end: 30px;
  }

  .btn-password {
      position: absolute;
      bottom: 0;
      z-index: 111;
      opacity: 0.7;
      background: transparent;
      top: 7px;
      right: 0;

      ion-icon {
          font-size: 22px;
          color: #000;
      }
  }
}

.btn-register {
  text-align: center;
  text-transform: none;
  --background: none;
  --box-shadow: none;
  font-weight: normal;
  margin: auto;
  display: block;
  font-size: 16px;
  margin-top: 49px;
  width: 250px;
  height: 60px;
  --padding-top: 10px;

  span {
    position: absolute;
    top: 0;
  }

  b {
    padding-top: 12px;
  }
}
[dir="rtl"] {
  .btn-password {
    left: 0!important;
    right: auto!important;
  }
}

.btn-login-bawes {
  width: 100%;
  margin-top: 15px;
}