<ion-content class='contentArea ion-padding'>
  <div class='brand'>
    <ion-img src="assets/icon.png"></ion-img>
    <h3>Studenthub Payroll</h3>
  </div>

  <ion-card class='loginCard'>
    <ion-card-content class='authArea'>

      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()"  class="classicInput" novalidate>
        <ion-item lines="none">
          <ion-input type="email" #emailInput
            inputmode="email"
            formControlName="email"
            placeholder="Your Email Address">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="field-password">
          <ion-input type="{{type}}" #passwordInput formControlName="password" placeholder="Your Password">
          </ion-input>

          <ion-button class="btn-password" fill="clear" (click)="showPassword()">
            <ion-icon *ngIf="type == 'password'" name="eye"></ion-icon>
            <ion-icon *ngIf="type != 'password'" name="eye-off"></ion-icon>
          </ion-button>
        </ion-item>

        <div class="ion-text-center submit-btn">
          <ion-button expand="block" type="submit"
                  [disabled]="!loginForm.valid || isLoading ||
                        (emailInput.value == oldEmailInput && passwordInput.value == oldPasswordInput)">
            <ion-spinner *ngIf="isLoading"></ion-spinner>
            <span *ngIf="!isLoading">Sign in</span>
          </ion-button>
        </div>

      </form>
      <!-- END Login Form -->

      <br />

      <div class="ion-text-center" *ngIf="!isLoading">
        <a (click)="resetPasswordRequest()" tappable>
          Forgot your password?
        </a>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>
