<ion-content scrollEvents="true" (ionScroll)="logScrolling($event)" class="ion-no-padding">
  <div class="desktop-view">

    <section class="ion-padding no-transfers" *ngIf="!loading && transfers && transfers.length == 0">
      <ion-icon name="ios-filing-outline"></ion-icon>
      <h2>{{"Create a transfer to start salary distribution" | translate}}</h2>
      <ion-button (click)="presentActionSheetForNewTransfer()">
        {{"Create your first transfer" | translate}}
      </ion-button>
    </section>

    <ion-item class="item-transfer" tappable *ngFor="let transfer of transfers" (click)="transferDetails(transfer.transfer_id)">
      <div tabindex="0"></div>
      <ion-label>
        <p class="txt-time" *ngIf="transfer.transfer_created_at_unix">
          {{ translateService.toDate(transfer.transfer_created_at_unix) | date: 'MMM d, y - h:mm a' : undefined: translateService.currentLang }}
        </p>
        <h5>{{ transfer.currency_code }} {{ transfer.company_total | number:'1.0-3' }}</h5>
        <p class="txt-id">#{{transfer.transfer_id}}</p>
      </ion-label>
      <ion-badge slot="end" [class.badge-paid]="transfer.transfer_status == transferService.STATUS_TRANSFER_COMPLETE" 
        [class.badge-unpaid]="transfer.transfer_status != transferService.STATUS_TRANSFER_COMPLETE">
        {{ transfer.transfer_status_name | translate }}
      </ion-badge>
    </ion-item>  

    <ion-infinite-scroll *ngIf="currentPage < pageCount" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <loading-modal [loading]="loading" type="text-list-view"></loading-modal>

  </div>


  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <!--  (click)="presentActionSheetForNewTransfer()"-->
    <ion-fab-button class="btn-fab" id="btn-fab" >
      <ion-icon name="add"></ion-icon> {{ "Create New Transfer" | translate }}
    </ion-fab-button>
     <!--  <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon> Manual input of hours
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon> Excel sheet upload
      </ion-fab-button>
    </ion-fab-list>-->
  </ion-fab>

  <ion-popover trigger="btn-fab" side="top" reference="trigger" triggerAction="click">
    <ng-template>
      <ion-item tappable (click)="dismissPopup();createNewTransfer()">
        <ion-label>
          {{ "Manual input of hours" | translate }}
        </ion-label>
      </ion-item>
      <ion-item tappable lines="none" (click)="dismissPopup();importTransfer()">
        <ion-label>
          {{ "Excel sheet upload" | translate }}
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-popover>
</ion-content> 