/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.brand ion-img {
    margin: auto;
    display: block;
}

.candidate_name {
  text-transform: capitalize;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

ion-footer.filter-opened,
ion-footer.filter-closed {
  display: none;
}

@media only screen and (max-width: 767px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .filter-closed {
    .col-filter {
      display: none;
    }
    .col-listing {
      display: block;
    }
  }

  .filter-opened {
    .col-filter {
      display: block;
    }

    .col-listing {
      display: none;
    }
  }

  ion-footer.filter-opened {
    display: block;
  }

  ion-footer.filter-closed {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  button.days-btn p , h4 {
    color: #fff !important;
  }

  button.days-btn.today{
    background: grey!important;
  }
}

.clear-header:after {
  display: none;
}

ion-header.add-border:after {
  display: inline;
}

ng5-slider {
  $handleSize: 12px;

  background: #bdbdbd !important;
  margin: 10px 0 15px !important;

  .ng5-slider-pointer {
      width: 12px !important;
      height: 12px !important;
      top: -4px !important;
      background-color: var(--ion-color-primary) !important;
      outline: none;

      &:after {
          content: none;
          display: none;
      }
  }

  .ng5-slider-selection {
      background: #d8e0f3 !important;
  }

  .ng5-slider-bubble {
      display: none !important;
  }
}

ion-modal {
  ion-router-outlet {
    ion-header ion-buttons[slot="end"] ion-button {
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
}
ion-router-outlet {
  ion-header ion-buttons[slot="end"] ion-button {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: none;
  }

  //ion-toolbar,
  //ion-content {
  //    --background: #fafafa;
  //}

  ion-title,
  ion-header {
      //padding-left: 10px;
      //padding-right: 10px;
      .ion-activatable {
        color: #000000;
      }
  }

  ion-title:not([size="small"]) {
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
  }

  ion-content {
    //--padding-start: 30px;
    //--padding-end: 30px;
    --padding-start: 10px;
    --padding-end: 10px;
  }
}

ion-header {
  //--background: #fafafa;
  //background: #fafafa;
}

ion-footer .desktop-view,
ion-content .desktop-view,
ion-toolbar.desktop-view {
  max-width: 787px;
  margin: 0 auto;
}

ion-footer {
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 9px;

  ion-button {
    height: 50px;
    margin: auto !important;
    display: block;
    border-radius: 4px !important;
    --border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: none;
    --box-shadow: none;
  }

  ion-button[disabled] {
      background: #bdbdbd;
      --color: #fff;
      --opacity: 1;
      --background: #bdbdbd;
      --background-focused: #bdbdbd;
      --background-hover: #bdbdbd;
      border-radius: 4px;
      --border-radius: 4px;
  }

  .button-disabled {
      background-color: #bdbdbd;
      --background: #bdbdbd;
      --background-focused: #bdbdbd;
      --background-hover: #bdbdbd;
  }
}

.empty-data{
  text-align: center;
  margin-top:30px;

  ion-icon{font-size:60px;}
  h2{margin-top:0;}
}

.split-pane-md.split-pane-visible > .split-pane-side {
  min-width: 239px;
  max-width: 19%;
}

.split-pane-visible > .split-pane-side {
  order: -1 !important;
}

.split-pane-side ion-router-outlet ion-toolbar,
.split-pane-side ion-router-outlet ion-content{
  --background: #ffffff;
}

.main-right-menu,
.main-left-menu {
    padding: 26px 0 0 0;
}
