<ion-header [class.add-border]="scrollTop" class="clear-header">
  <ion-toolbar  class="desktop-view">

      <ion-buttons slot="start">
        <ion-back-button mode="md" icon="assets/images/icon-back.svg" defaultHref="/transfer-list"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ pageTitle | translate}}</ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary" [disabled]="!form.valid || (total <= 0)" (click)="validate()">
          {{"Save" | translate}}
        </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <div class="desktop-view">

    <ng-container *ngIf="transfer && transfer.contract" >
      <h5 class="txt-heading">{{ "Contract" | translate }}</h5>

      <ion-item class="item-contract" tappable 
        [routerLink]="'/contract-view/' + transfer.contract.contract_uuid">
        <div tabindex="0"></div>
        <ion-label>
          <p class="txt-time" *ngIf="transfer.contract.created_at">
            {{ translateService.toDate(transfer.contract.created_at) | date: 'MMM d, y - h:mm a' : undefined: translateService.currentLang }}
          </p>

          <ng-container *ngIf="transfer.contract.amount">
            <h5 class="txt-value" *ngIf=" transfer.contract.type == 'HOURLY'">
              {{ transfer.contract.amount.company_hourly_rate | number:'1.0-3' }} {{ transfer.contract.currency_code }}/ {{ "hour" | translate }}
            </h5>
            
            <h5 class="txt-value" *ngIf="transfer.contract.type == 'FIXED_PRICE'">
              {{ transfer.contract.amount.company_total | number:'1.0-3' }} {{ transfer.contract.currency_code }} 
            </h5>
            
            <h5 class="txt-value" *ngIf="transfer.contract.type == 'MONTHLY_SALARY'">
              {{ transfer.contract.amount.company_total | number:'1.0-3' }} {{ transfer.contract.currency_code }}/ {{ "month" | translate }}
            </h5>
          </ng-container>

          <p class="txt-id">#{{transfer.contract.contract_uuid}}</p>
        </ion-label>
      </ion-item>  
    </ng-container>

    <form [formGroup]="form" *ngIf="ready">

      <ion-card class="ion-padding card-date-range">

        <h4>{{"I am transferring for work done in the following time period:" | translate}}</h4>

        <ion-button *ngIf="!transfer.start_date || !transfer.end_date" (click)="openCalendar()">{{"Please select the date Range" | translate}}</ion-button>

        <p *ngIf="this.transfer.start_date && this.transfer.end_date">
          {{ "From" | translate }} <span *ngIf="this.transfer.start_date">{{ toDate(this.transfer.start_date) | date : 'MMMM d, y': undefined: translateService.currentLang }}</span> - {{ "To" | translate }}
          <span *ngIf="this.transfer.end_date">{{ toDate(this.transfer.end_date) | date : 'MMMM d, y': undefined: translateService.currentLang }}</span>

          <ion-button class="btn-clear-date-range" fill="clear" (click)="clearSelection()">
            <ion-icon slot="icon-only" name="close-outline"></ion-icon>
          </ion-button>
        </p>
      </ion-card>
      
      <ion-button class="btn-approved-work-log" *ngIf="ready" (click)="approvedWorkLog()" [disabled]="!transfer.start_date || !transfer.end_date">
        {{ "Set approved work log for provided date range" | translate }}
      </ion-button>

      <!-- store_id pipe returns the transferCandidates grouped by store as object of following format: -->
      <!-- {name: string, resources: TransferCandidate[]} -->
      <ion-item-group *ngFor="let group of transfer.transferCandidates | store_name">

        <ion-item-divider><b>{{ group.name }}</b></ion-item-divider>

        <ion-card *ngFor="let transferCandidateRecord of group.resources"
          id="candidate_{{ transferCandidateRecord.candidate.candidate_id }}">

          <ion-item>
            <div tabindex="0"></div>
            <ion-avatar slot="start">
              <ion-img *ngIf="!transferCandidateRecord.candidate.candidate_personal_photo" src="/assets/icon.png">
              </ion-img>
              <ion-img (ionError)="onImageError(transferCandidateRecord.candidate)"
                *ngIf="transferCandidateRecord.candidate.candidate_personal_photo"
                src="{{ aws.cloudinaryUrl + 'candidate-photo/' + transferCandidateRecord.candidate.candidate_personal_photo }}">
              </ion-img>
            </ion-avatar>
            <ion-label>
              <h5 class="candidate_name">
                {{ transferCandidateRecord.candidate.candidate_name? transferCandidateRecord.candidate.candidate_name: transferCandidateRecord.candidate.candidate_name_ar }}
              </h5>
              <p>
                {{ getCompanyHourlyRate(transferCandidateRecord) }} {{ form.value.currency_code }} {{ "per hour" | translate }}  
                <ng-container *ngIf="transferCandidateRecord.transfer_cost > 0">
                  + {{ transferCandidateRecord.transfer_cost }} {{ form.value.currency_code }} {{ "transfer cost" | translate }}
                </ng-container>  
              </p>
            </ion-label>
          </ion-item>

          <ion-grid>
            <ion-row>
              <!-- Hours Input Column -->
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                <ion-item>
                  <ion-label position="floating">
                    {{ "Hours" | translate}}
                    <span class="error" *ngIf="parseNumber(transferCandidateRecord.hours) < 0">{{"Invalid value" | translate}}</span>
                  </ion-label>
                  <ion-input type="number" inputmode="numeric" min="0" (ionChange)="calculateTotal()"
                    [(ngModel)]="transferCandidateRecord.hours"
                    formControlName="hours[{{transferCandidateRecord.candidate.candidate_id}}]">
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                <ion-item>
                  <ion-label position="floating">
                    {{ "Minutes" | translate}}
                    <span class="error" *ngIf="parseNumber(transferCandidateRecord.minutes) < 0 || parseNumber(transferCandidateRecord.minutes) > 59">{{"Invalid value" | translate}}</span>
                  </ion-label>
                  <ion-input type="number" inputmode="numeric" min="0" (ionChange)="calculateTotal()"
                    (ionFocus)="checkDecimalHours(transferCandidateRecord.candidate.candidate_id)"
                    [(ngModel)]="transferCandidateRecord.minutes"
                    formControlName="minutes[{{transferCandidateRecord.candidate.candidate_id}}]">
                  </ion-input>
                </ion-item>
              </ion-col>
              
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                <ion-item>
                  <ion-label position="floating">
                    {{ "Seconds" | translate}}
                    <span class="error" *ngIf="parseNumber(transferCandidateRecord.seconds) < 0 || parseNumber(transferCandidateRecord.seconds) > 59">{{"Invalid value" | translate}}</span>
                  </ion-label>
                  <ion-input type="number" inputmode="numeric" min="0" (ionChange)="calculateTotal()"
                    [(ngModel)]="transferCandidateRecord.seconds"
                    formControlName="seconds[{{transferCandidateRecord.candidate.candidate_id}}]">
                  </ion-input>
                </ion-item>
              </ion-col>

              <!-- Bonus Input Column -->
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                <ion-item>
                  <ion-label position="floating">
                    {{"Bonus" | translate}}
                    <span class="error" *ngIf="parseNumber(transferCandidateRecord.bonus) < 0">{{"Invalid value" | translate}}</span>
                  </ion-label>
                  <ion-input type="number" min="0" inputmode="decimal" (ionChange)="calculateTotal()"
                    [(ngModel)]="transferCandidateRecord.bonus"
                    formControlName="bonus[{{transferCandidateRecord.candidate.candidate_id}}]">
                  </ion-input>
                </ion-item>
              </ion-col>

              <!-- Total Calculation Column 
                *ngIf="parseNumber(transferCandidateRecord.hours) > 0"-->
              <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12">
                <ion-item>
                  <div tabindex="0"></div>
                  {{"Subtotal" | translate}}
                  {{ 
                     (
                      parseNumber(transferCandidateRecord.hours) 
                      * 
                      getCompanyHourlyRate(transferCandidateRecord)
                     ) 
                     + (
                      parseNumber(transferCandidateRecord.minutes) 
                      * 
                      getCompanyHourlyRate(transferCandidateRecord) / 60
                     ) 
                     + (
                      parseNumber(transferCandidateRecord.seconds) 
                      * 
                      getCompanyHourlyRate(transferCandidateRecord) / 3600
                     ) 
                     + parseNumber(transferCandidateRecord.bonus) 
                     + parseNumber(transferCandidateRecord.transfer_cost)
                     | number:'1.0-3' 
                  }}
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-item-group>
    </form>

  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" *ngIf="scrollTop > 20">
    <ion-fab-button class="btn-fab" id="btn-fab" (click)="scrollToTop()">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <div class="desktop-view">
      <ion-title>
        {{ "Total" | translate}} {{ total | number:'1.0-3' }} 
        <ion-select  *ngIf="form" [value]="form.value.currency_code" (ionChange)="onCurrencyUpdate($event)"> 
          <ion-select-option [value]="currency.code" *ngFor="let currency of authService.currencies">
            {{ currency.code }}
          </ion-select-option>
        </ion-select>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-footer>
