.pagination-wrapper {
  margin: 0 auto 15px auto;
}

ion-card {
  border-radius: 8px;
  --background: var(--Neutral-0, #FFF);
  --box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  margin: 0 1px 9px 1px;
  border-radius: 5px;
 
  padding: 5px 0;

  .store_name {
    text-transform: capitalize;
  }

  ion-icon[slot="start"] {
    margin-inline-end: 15px;
    display: inline-block;
  }

  .btn-toggle {
    position: absolute;
    right: 0px;
    top: 5px;
    z-index: 999;
  }

  ion-card-content {
    padding-bottom: 8px;
  }
  
  ion-item {
    --padding-start: 0px; 

    h5 {
      color: var(--Neutral-95, #23233D);
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px; /* 142.857% */
    }

    ion-img {
      width: 40px;
      height: 40px;
    }
  }

  .txt-staffs {
    color: var(--Neutral-95, #23233D);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    padding-top: 16px; 
    margin-top: 16px;
    border-top: 1px solid var(--Neutral-40, #E2E2E6);
  }
}

[dir="rtl"] .btn-toggle {
  right: auto;
  left: 0px;
}

.btn-view-more {
  color: var(--Primary-Main, #4C70F2);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  text-transform: none;
  margin: 0;
  --padding-start: 0;
  --padding-bottom: 0;
  --padding-top: 0px;
}

.store-list {
  .store-details {
    margin-top: 12px;
  }
  .store_name {
    color: var(--ion-color-light-contrast);
    font-weight: bold;
  }
  ion-badge {
    height: 25px;
    padding: 5px 9px 2px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--ion-color-light-contrast);
    background-color: var(--ion-custom-color-20);
    border-radius: 1px;
    position: absolute;
    right: 15px;
    top: 9px;
  }
  p {
    color: var(--ion-color-light-contrast);
    span {
      padding-left: 5px;
    }
  }
}
[dir="rtl"] {
  ion-badge {
    left: 15px;
    right: auto;
  }
}
