<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ company.company_name }}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- List of Stores -->
  <h5>Stores</h5>
  <ion-list>
    <button ion-item 
      *ngFor="let store of stores"
      (click)="storeSelected(store)">
      {{ store.store_name}}        
      <ion-badge item-right *ngIf="store.candidates && store.candidates.length > 0">
        {{ store.candidates.length }} {{ store.candidates.length > 1 ? "employees" : "employee" }}
      </ion-badge>
    </button>
  </ion-list>

  <!-- Pagination -->
  <ion-row text-center>
    <div class="pagination-wrapper">
      <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </button>
    </div>
  </ion-row>

</ion-content>
