<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ company.company_name }}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <h5>Id</h5>
      <p>{{ company.company_id }}</p>
    </ion-item>
    <ion-item>
      <h5>Company</h5>
      <p>{{ company.company_name }}</p>
    </ion-item>
    <ion-item *ngIf="company && company.company_email">
      <h5>Email</h5>
      <p>{{ company.company_email }}</p>
    </ion-item>
  </ion-list>
  <h5>Stores</h5>
  <ion-list>
    <ion-item-sliding *ngFor="let store of stores">
      <button ion-item (click)="storeSelected(store)">
        {{ store.store_name}}
      </button>
    </ion-item-sliding>
  </ion-list>

  <ion-row text-center>
    <div class="pagination-wrapper">
      <button *ngFor="let page of pages" ion-button small color="{{ pageLinkColor(page) }}" (click)="loadData(page)">
        {{ page }}
      </button>
    </div>
  </ion-row>

</ion-content>
